@CHARSET "ISO-8859-1";


html {
 background-color:#cccccc;
 

}

body { 


<background img src="maxresdefaultjpg"
 width: 80%; 
 margin-left: auto;
 margin-right: auto; 
 
 
 }
.navigation 
{
	background-color: #00004d;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: table;
	
}
.bulletpoints
{
	
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: table;

	
	
}
.navvbar{
    list-style-type: none;
    margin: 20;
    padding left: 150;
	display: inline-flex;
}
.navbar{
	 padding-left:100px;
	 list-style-type:none;
	 display: inline-flex;	
		 
}